:root {
    /* main colors */
    --lightBrown: #F9BE92;
    --brightRed: #AC020E;
    --mainDark: #151110;
    --altDark: #131212;
    --lightSalmon: #F9BC8F;
    --goldBrown: #BD8759;
    --mainBackground: #efecea;
    --textShadow: #333447;
    --sideNavBg: #111;
    --sideNavLinks: #818181;
    --sideHover: #f1f1f1;
    --horScrollBtn: #191918;

    /* background colors */
    --blackBg: rgba(0, 0, 0, 0.8);
}

body {
    /* main font */
    font-family: 'Ovo', serif !important;
}